@import 'src/assets/styles';

.title {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: 0.06rem;
  color: $color-foreground;
  font-weight: 400;
}

@include tablets() {
  .title {
    font-size: 4rem;
  }
}
