@import 'src/assets/styles';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.title {
  text-align: center;
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 400;
  color: $color-foreground;
  letter-spacing: 0.06rem;
}

.subtitle {
  color: rgba(26, 22, 24, 0.75);
  text-align: center;
}
