@import 'src/assets/styles';

.container {
  width: 100%;

  overflow: hidden;
}

.sliders {
  display: flex;
  align-items: center;
  cursor: grab;
  position: relative;

  &.active {
    cursor: grabbing;
  }
}

.slider-item {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 38rem;
  transition: transform 0.5s ease;
  will-change: transform;
  transform-origin: center;
  overflow: hidden;
  border-radius: 2px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.gradient-edge {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 10vw;
  max-width: 100px;

  &--left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }

  &--right {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  }
}

@include desktops {
  .slider-item {
    height: calc(100dvh - 14rem);
    min-height: 50rem;
    max-height: 100rem;
  }
}
