@import 'src/assets/styles';

.container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  --outline: 0.2rem solid rgb(26, 22, 24, 0.5);
}

.label {
  min-width: 4rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: rgba(26, 22, 24, 0.75);
}

.main {
  flex: 1;
  min-width: 13rem;
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  padding: 1.2rem;
  color: rgba(26, 22, 24, 0.75);

  svg {
    transition: transform 0.3s ease-in-out;
  }

  &.active,
  &:active,
  &:hover,
  &:focus,
  &:focus-visible {
    outline: var(--outline) !important;
    outline-offset: 0.3rem;
    box-shadow: 0 0 0 0.3rem $color-background, 0 0 0.5rem 0.4rem $color-foreground;
  }

  &.active {
    svg {
      transform: rotate(180deg);
    }
  }
}

.options {
  position: absolute;
  top: calc(100% + 0.4rem);
  z-index: 50;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0.3rem 0.48em rgba(26, 22, 24, 0.6);
  border-radius: 0.4rem;
  overflow: hidden;
}

.button-options {
  width: 100%;
  padding: 0.8rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  transition: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover {
    background-color: rgb(231, 50, 149, 0.4);
  }
}
