@import 'src/assets/styles';

.container {
  width: 100%;
  max-width: 60rem;
  height: 100%;
  margin: 0 auto;
  padding: 3.2rem 1.6rem 10rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
}

.heading-1 {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 400;
  color: $color-foreground;
  letter-spacing: 0.06rem;
}

.subtitle {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: $color-foreground;
}

.btn-logout {
  margin-left: -1.2rem;
}

.heading-2 {
  font-size: 2.4rem;
  letter-spacing: 0.06rem;
  font-weight: 400;
  color: $color-foreground;
}

.desc {
  color: rgba(26, 22, 24, 0.75);
}
