$color-background: rgb(255, 255, 255);
$color-foreground: rgb(26, 22, 24);
$color-shadow: rgb(204, 181, 193);
$color-button: rgb(231, 50, 149);
$color-button-text: rgb(255, 255, 255);
$color-secondary-button: rgb(255, 255, 255);
$color-secondary-button-text: rgb(231, 50, 149);
$color-link: rgb(231, 50, 149);
$color-badge-foreground: rgb(26, 22, 24);
$color-badge-background: rgb(255, 255, 255);
$color-badge-border: rgb(26, 22, 24);
$gradient-background: #ffffff;
$payment-terms-background-color: rgb(255, 255, 255);

$font-main: var(--font-main);
