$color-background: var(--color-background);
$color-foreground: var(--color-foreground);
$color-shadow: var(--color-shadow);
$color-button: var(--color-button);
$color-button-text: var(--color-button-text);
$color-secondary-button: var(--color-secondary-button);
$color-secondary-button-text: var(--color-secondary-button-text);
$color-link: var(--color-link);
$color-badge-foreground: var(--color-badge-foreground);
$color-badge-background: var(--color-badge-background);
$color-badge-border: var(--color-badge-border);
$gradient-background: var(--gradient-background);
$payment-terms-background-color: var(--payment-terms-background-color);
$font-main: var(--font-main);
